// app global css in SCSS form
@import 'quasar.variables.scss';

.wordler-card {
  width: 30rem;
  min-height: 8rem;
}

.wordler-card-section {
  // height: auto;
  max-height: calc(100% - 112px);
  // min-height: calc(100vh - 207px);
  // min-height: 200px;
}

.text-tertiary {
  color: $tertiary !important;
}
.bg-tertiary {
  background: $tertiary !important;
}
