// app global css in SCSS form
@import 'quasar.variables.scss';

.wordler-card {
  width: 30rem;
  min-height: 8rem;
}

.text-tertiary {
  color: $tertiary !important;
}
.bg-tertiary {
  background: $tertiary !important;
}
